.row
  .col-lg-12
    %span
      = fa_icon("user-circle")
      = current_user.email
      = link_to "logout", destroy_user_session_path, method: :delete

    .row{ style: "margin-top: 20px" }
      .col-lg-12
        #calendar

    #create-event-modal.modal.fade{ role: "dialog" }
      = form_for Event.new, method: :post, format: :js, remote: true do |f|
        .modal-dialog.modal-sm{ role: "document" }
          .modal-content
            .modal-header
              %button.close{ type: "button", "data-dismiss" => "modal" }
                %span &times;
              %h4.modal-title Add an Event

            .modal-body
              .form-group
                = f.hidden_field :start_time
                = f.text_field :title, class: "form-control", placeholder: "Event description", autocomplete: "off"

              .form-group
                = f.label :end_time, "Until when?"
                .input-group.date.dtpicker
                  = f.text_field :end_time, class: "form-control", autocomplete: "off"
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar

            .modal-footer
              %button.btn.btn-default{ type: "button", "data-dismiss" => "modal" } Close
              %button.btn.btn-primary{ type: "submit" } Save changes
