.row
  .col-lg-12
    %span
      = fa_icon("user-circle")
      = current_user.email
      = link_to "logout", destroy_user_session_path, method: :delete

    .row{ style: "margin-top: 20px" }
      .col-lg-12
        #calendar

    = render "modals/create"
    = render "modals/update"
