#update-event-modal.modal.fade{ role: "dialog" }
  = form_tag "", method: :patch, format: :js, remote: true, id: "update_event" do
    .modal-dialog.modal-sm{ role: "document" }
      .modal-content
        .modal-header
          %button.close{ type: "button", "data-dismiss" => "modal" }
            %span &times;
          %h4.modal-title Update this Event

        .modal-body
          .row
            .col-lg-12
              .form-group
                = label_tag :start_time, "The event starts at"
                .input-group.date.dtpicker-start
                  = text_field_tag "event[start_time]", nil, class: "form-control", autocomplete: "off", placeholder: "DD/MM/YYYY"
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar

          .row
            .col-lg-12
              .form-group
                = label_tag :end_time, "And ends at"
                .input-group.date.dtpicker-end
                  = text_field_tag "event[end_time]", nil, class: "form-control", autocomplete: "off", placeholder: "DD/MM/YYYY"
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar

          .row
            .col-lg-12
              .form-group
                = label_tag :title, "What's the name of this event?"
                = text_field_tag "event[title]", nil, class: "form-control", autocomplete: "off"

          .row
            .col-lg-12
              .form-group
                = label_tag :color, "You are required to choose a color so you can identify this event with ease."
                = text_field_tag "event[color]", nil, class: "minicolors form-control", autocomplete: "off"


        .modal-footer
          .text-center
            %button.btn.btn-lg.btn-primary{ type: "submit" } Republish

